.mobile-navigation {
    display: none;
    position: absolute;
    top: 55px;
    right: 30px;
}

.mobile-navigation-burger {
    width: 33px;
    height: 18px;
}

.mobile-navigation-toggler {
    display: none;
}

.mobile-navigation-nav {
    position: fixed;
    inset: 0;
    padding: 55px 20px 0;
    background-color: var(--bg-main);
    translate: 100% 0;
    transition: all 0.3s;
    /* visibility: hidden; */
}

.mobile-navigation-toggler:checked + .mobile-navigation-nav {
    translate: 0;
    /* visibility: visible; */
}

.mobile-navigation-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.mobile-navigation-link {
    font-size: 34px;
    font-weight: 700;
    color: var(--font-color-gray);
}

.mobile-navigation-close {
    width: 25px;
    height: 22px;
}

.mobile-navigation-cross {
    position: absolute;
    top: 55px;
    right: 30px;
}

@media (max-width:480px) {
    .mobile-navigation {
        display: block;
    }
}